/.idea
/node_modules
/build
/tsconfig.tsbuildinfo
.env

artifacts
/abi
.DS_Store
/cache
/tmp
archive
/images/generated
coverage.json
/coverage
/deployments/hardhat/
/data/abi
/graph_copy
/graph_copy_1
/graph/generated
/graph/graph-node
/deployments/localhost/
*/out
/tests/dapptools/out
typechain
out
tests/dapptools/cache
abis
