/.idea
/node_modules
/build
/tsconfig.tsbuildinfo
.env
types
artifacts
/abi
.DS_Store
/cache
/tmp
archive
/images/generated
coverage.json
/coverage
/docs
/deployments/hardhat/
/data/abi
/graph_copy
/graph_copy_1
/graph/generated
/graph/graph-node
/deployments/localhost/
out/
abis
typechain
