{
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 160,
                "tabWidth": 4,
                "useTabs": true,
                "bracketSpacing": false,
                "explicitTypes": "always",
                "compiler": "0.8.20"
            }
        }
    ]
}